<li>
  <div ng-if="!galleryItemCtrl.showEditGallery">
    <div ng-click="galleryItemCtrl.makeGalleryCurrent()">
      <p>name: {{ galleryItemCtrl.gallery.name }}</p>
      <p>description: {{ galleryItemCtrl.gallery.desc }}</p>
      <p>id: {{ galleryItemCtrl.gallery._id }}</p>
    </div>
  </div>

  <edit-gallery ng-if="galleryItemCtrl.showEditGallery" gallery="galleryItemCtrl.gallery"></edit-gallery>
  <button ng-click="galleryItemCtrl.showEditGallery = !galleryItemCtrl.showEditGallery">Edit</button>
  <delete-gallery gallery="galleryItemCtrl.gallery"></delete-gallery>
</li>
