.name {
  border: none;
  // padding: .5em;
}
.description {
  border: none;
}
.createGallery {
  padding: .5em;
  // text-align: left;
}
.fields {
  min-width: 1em;
  // padding: .25em;
  margin-top: 1em;
  text-align: right;
}
h3 {
  text-align: left;
}
button {
  border-style: solid;
  border-bottom: thick;
}
