<section>
  <div ng-if="!galleryItemCtrl.showEditGallery">
    <div class="galleries">
      <!-- <span ng-click="galleryItemCtrl.makeCurrentGallery()">name: {{ galleryItemCtrl.gallery.name }}</span> -->
      <!-- <span>description: {{ galleryItemCtrl.gallery.description}}</span> -->
    </div>
  </div>

  <h3>Edit Gallery</h3>
  <edit-gallery ng-if="galleryItemCtrl.showEditGallery" gallery="galleryItemCtrl.gallery"></edit-gallery>
  <button ng-click="galleryItemCtrl.showEditGallery=!galleryItemCtrl.showEditGallery">edit</button>
  <!-- <button ng-click="galleryItemCtrl.deleteGallery()">delete</button> -->
  <upload-pic gallery="galleryItemCtrl.gallery"></upload-pic>
</section>
