<section>
  <form
  ng-submit="uploadPicCtrl.uploadPic()"
  novalidate>

    <fieldset>
      <label for="name">name</label>
      <input type="text" name="name" placeholder="name" ng-model="uploadPicCtrl.pic.name">
      <label for="description">description</label>
      <input type="text" name="discription" placeholder="discription" ng-model="uploadPicCtrl.pic.description">
    </fieldset>

    <div>
      <p ngf-select ng-model="uploadPicCtrl.pic.file">
        choose file
      </p>
      <button type="submit" name="upload picture">upload file</button>
    </div>

  </form>
</section>
