.logo {
  width: 3em;
  float: left;
}

input {
  background-color: white;
}

.switch {
  float: right;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: gray;
  text-align: center;
  z-index: 9000;
}


.thumb {
  width: 50px;
}
