

html, body {
  background-color: Gainsboro;
}

header {
  background-color: DimGray;
  padding: 2em;
}

h1 {
  color: white;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline;
}

p,  {
  padding-left: 1em;
  padding-right: 1em;
}


.md-button.md-raised:not([disabled]) {
    background: DimGray;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

button:focus, p:focus {
  outline:0;
}
