<section>
  <form name="createGalleryForm"
    ng-submit="createGalleryCtrl.createGallery()">
    <div>
      <label for="name">name: </label>
      <input
        type="text"
        name="name"
        placeholder="name"
        ng-model="createGalleryCtrl.gallery.name"
        required>
    </div>
    <div>
      <label for="description">desc: </label>
      <input
      type="text"
      name="description"
      placeholder="description"
      ng-model="createGalleryCtrl.gallery.desc"
      required>
    </div>
    <button type="submit">create gallery</button>
  </form>
</section>
