<section class="landing">
  <div class="join-container"
    ng-if="landingCtrl.showSignup">
    <div class="join-inner">
      <signup></signup>
      <p>Already have an account?</p>
      <a href="/#!/login"
        ng-click="landingCtrl.showSignup=false">
        Sign-In Here
      </a>
    </div>
  </div>
  <div class="join-container"
    ng-if="!landingCtrl.showSignup">
    <div class="join-inner">
      <login></login>
      <p>Want to create an account?</p>
      <a href="/#!/signup"
        ng-click="landingCtrl.showSignup=true">
        Sign-Up Here
      </a>
    </div>
  </div>
</section>
