.gallery-name {
  margin-top: 1em;
  float: left;
  clear: left;
  font-size: 2.75vh;
}

.gallery-desc {
  float: left;
  clear: left;
  font-size: 2.75vh;
}

.gallery-id {
  float: left;
  clear: left;
  font-size: 2.75vh;
}

li {
  list-style: none;
}
