<li>
  <div ng-if="!galleryItemCtrl.showEditGallery">
    <div>
      <span class="gallery-name"><strong>name:</strong> {{ galleryItemCtrl.gallery.name | uppercase }}</span><br>
      <span class="gallery-desc"><strong>description:</strong>  {{ galleryItemCtrl.gallery.desc | lowercase }}</span><br>
      <span class="gallery-id"><strong> id:</strong>  {{ galleryItemCtrl.gallery._id | limitTo : 8 }}</span><br>
      <span class="gallery-date"><strong> date:</strong> {{ galleryItemCtrl.gallery.created | date : 'longDate'  }}</span><br>
    </div>
  </div>

  <edit-gallery ng-if="galleryItemCtrl.showEditGallery" gallery="galleryItemCtrl.gallery"></edit-gallery>

  <button
    class="btn-std"
    name="edit"
    ng-click="galleryItemCtrl.showEditGallery = !galleryItemCtrl.showEditGallery">edit
  </button>

  <button
    class="btn-std"
    name="delete gallery"
    ng-click="galleryItemCtrl.deleteGallery()">delete gallery
  </button>
</li>
