<section>
  <form
    ng-submit="uploadPicCtrl.uploadPic()"
    novalidate>

    <fieldset>
      <label for="name">Pic Name: </label>
      <input type="text" name="name" placeholder="name" ng-model="uploadPicCtrl.pic.name">
      <label for="desc">Pic Description: </label>
      <input type="text" name="desc" placeholder="desc" ng-model="uploadPicCtrl.pic.desc">
    </fieldset>

    <div>
      <p ngf-select ng-model="uploadPicCtrl.pic.file">
        Choose File
      </p>
      <button type="submit" name="upload picture">Upload File</button>
    </div>

  </form>
</section>
