<section class="landing">
  <div class="join-container"
    ng-if="landingCtrl.showSignup">
    <div class="join-inner">
      <signup></signup>
      <p class="guide">already a member?</p>
      <a href="/#!/login"
        ng-click="landingCtrl.showSignup=false">
        <strong>sign in here.</strong>
      </a>
    </div>
  </div>

  <div class="join-container"
    ng-if="!landingCtrl.showSignup">
    <div class="join-inner">
      <login></login>
      <p class="guide">want to signup?</p>
      <a href="/#!/signup"
        ng-click="landingCtrl.showSignup=true">
        <strong>sign up here.</strong>
      </a>
    </div>
  </div>
</section>
