<section>
  <form name="createGalleryForm"
   ng-submit="createGalleryCtrl.createGallery()">
    <fieldset>
      <label for="name">name</label>
      <input
        class="input-std"
        type="text"
        name="name"
        placeholder="name"
        ng-model="createGalleryCtrl.gallery.name"
        required>
    </fieldset>
    <fieldset>
      <label for="description">desc</label>
      <input
       class="input-std"
       type="text"
       name="desciption"
       placeholder="desciption"
       ng-model="createGalleryCtrl.gallery.desc"
       required>
    </fieldset>

    <button
      class="btn-left"
      type="submit"
      name="create gallery">
      create gallery
    </button>
  </form>
</section>
